:root{
    --color-primary:#fff;
    --color-primary-gray:#aaa;
    --color-primary-dark:#333;
    
    --color-secondary:#112D4E;

    --color-tertiary:#ffff

    --color-high:#F38181;
    --color-medium:#F9ED69;
    --color-low:#112d4e;
}




body{
    position: absolute;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    font-size: 62.5%;
/* 
    backdrop-filter: blur(5px); */
    background-image: url("./public/img1.jpg");

    background-size: cover;

}


.card{
    position: relative;
    /* padding: 0.2rem; */
    height: 32rem;
    width: 30rem;
    left: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0rem 0rem 5px var(--color-primary-dark);
    background-color: rgba(255, 255, 255, 0.8);
}

.card__form-div{
    position: absolute;
    display: block;
    height: 7rem;
    width: 23rem;
    top: 1rem;
    left: 10%;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
    box-shadow: 0rem 0rem 5px var(--color-primary-dark);
    border-radius: 1rem;
    overflow-y: auto;
    padding: 1rem;
}



.card__list{
    position: absolute;
    display: block;
    height: 20rem;
    width: 25rem;
    bottom: 1rem;
    left: 10%;
    box-shadow: 0rem 0rem 5px var(--color-primary-dark);

    background-color: var(--color-primary);
    /* border-radius: 1rem; */
    overflow-y: auto;
}



.todo{
    padding: 0.1rem;
    margin: 1rem;
    background-color: var(--color-primary);
    border-radius: 0.3rem;
    box-shadow: 0rem 0rem 5px var(--color-primary-dark);
 }
 
 .todo__checkbox{
    display: inline;
    border-radius: 999;
     
 }   

 .todo__sub{
    border-radius: 5px;


 }

 .todo__title{
    display: inline-block;
    height: 1.5rem;
    width: 50%;
    border: 1rem;
    border-color: var(--color-primary-dark);
    font-size: large;
    margin: 0;

}
.todo__date{
    display: inline;
     border: none;
     font-size: 0.7rem;
     color: #666;
 
 }
  
 .todo__edit{
    float: right;
 }

 .todo__delete{
    border: none;
    background-color: transparent;
 }
 
 .todo__completed{
     text-decoration: line-through;
     color: var(--color-primary-gray);
 }
 

 .todo-form{


 }

 .todo-form__title{
    display: block;

 }

 .todo-form__date{

 }

 .todo-form__priority{

 }

 .todo-form__description{
    display: block;
 }

 .todo-form__submit{
    position: absolute;
    right: 1rem;
 }

 .options{

 }
 



/* .textbox{
    position: relative;
    display: block;
    width: 32rem;
    top: 5rem;
    left: 5rem;
    margin: 1rem 0;
}

.textbox__input{
    position: relative;
    font-size: 1.5rem;
    width: 28rem;
    height: 2rem;
    border-radius: 0.5rem;
    margin: 0 0.3rem;
}

.textbox__button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-decoration: none;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
} */

